.rowContainer{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
}
.title{
    color: #fff;
    font-weight: 700;
    margin-bottom: .5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 26px;
}
.movieItem{
    margin-left: 10px;
    transition: all .2s;
}
.movies{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 97%;
    overflow-x: auto;
    margin: 1rem;
}
.movies::-webkit-scrollbar {
    display: none;
}
.movieItem:hover{
    transform: scale(1.08);
    opacity: 1;
}