.container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: #111;
}
 .container2{
    width: 80%;
 }
.header{
    text-align: left;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(75, 74, 74);
}
.body{
    display: flex;
    justify-content: start;
}
.img img{
background: #fff;
}
.planContainer{
    margin-left: 1rem;
    flex: 1;
}
.planContainer input{
    border: none;
    padding: .6rem 1rem;
    outline: 0;
    font-size: 12px;
    width: 100%;
    background: gray;
    color: #fff;
}
.inputContainer{
    border-bottom: 1px solid rgb(75, 74, 74);
}
.planContainer input::placeholder{
    color: #fff;
}
.planContainer p{
    color: #fff;
    font-size: 20px;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
}
.date{
    color: gray !important;
    margin-top: .5rem !important;
    font-size: 15px !important;
}

.signOut{
    outline: 0;
    border: 0;
    background-color:#FF1C0B;
    color: white;
    padding:.5rem .75rem;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
}
@media screen and (max-width:400px) {
 .container2{
    width: 99%;
 }   
}